<%= render 'shared/navbar' %>
<div class="small_banner connections__header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Messages</h1>
      </div>
    </div>
  </div>
</div>

<% if current_user.connections.length < 1 %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="connections__body">
        <h2>No messages. <strong>Yet...</strong></h2>
        <p>When you find a person that you want to meet, tell them a bit about yourself and what you’d like to learn and SWAPP</p>
        <form action="<%= users_path %>">
          <button class="button-small">SWAAP Skills</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
<% else %>
<ul>
  <% @connections.each do |connection| %>
    <%= link_to connection_path(connection) do %>
      <li>Chat with <%= connection.responder.name  %> <%= connection.id %></li>
    <% end %>
  <% end %>
</ul>
<% end %>



