<%= render 'shared/navbar' %>
<div class="rounded_banner rounded_banner--small">
  <div class="profile__header">
    <div class="profile__header_avatar">
      <% unless @user.profile_photo_url.nil? %>
        <%= image_tag @user.profile_photo_url, class: 'avatar'  %>
      <% end %>
    </div>
    <div class="profile__header_content">
      <h3 class="profile__header_name"><%= @user.name.titleize %></h3>
      <h4 class="profile__header_location"><%= @user.location %></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="messages">
        <% @connection.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="create_message">
  <%= simple_form_for @message, remote: true do |f| %>
    <%= f.hidden_field :connection_id, :value => @connection.id %>
    <%= f.input :body, label: false  %>
    <%= f.label(:email) do %>
      <%= image_tag "send.svg", id: "btn-send" %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>
<% content_for :after_js do %>
  <script>
    App["connection_<%= @connection.id %>"] = App.cable.subscriptions.create(
      { channel: 'ConnectionsChannel', connection_id: <%= @connection.id %> },
      { received: (data) => {

        if (data.current_user_id !== <%= current_user.id %>) {
          var messagesContainer = document.querySelector(".messages");
          messagesContainer.insertAdjacentHTML( "beforeend", data.message_partial) }
          if (messagesContainer) {
            scrollLastMessageIntoView();
          }
        }
    })
  </script>
<% end %>

