<%= render 'shared/navbar' %>
<div class="b">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="messages">
        <% @connection.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="create_message">
  <%= simple_form_for @message, remote: true do |f| %>
    <%= f.hidden_field :connection_id, :value => @connection.id %>
    <%= f.input :body, label: false  %>
  <% end %>
</div>
<% content_for :after_js do %>
  <script>
    App["connection_<%= @connection.id %>"] = App.cable.subscriptions.create(
      { channel: 'ConnectionsChannel', connection_id: <%= @connection.id %> },
      { received: (data) => {

        if (data.current_user_id !== <%= current_user.id %>) {
          var messagesContainer = document.querySelector(".messages");
          messagesContainer.insertAdjacentHTML( "beforeend", data.message_partial) }
          if (messagesContainer) {
            scrollLastMessageIntoView();
          }
        }
    })
  </script>
<% end %>

