<div class= form__background>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="form">
          <div class="form__brand">
            <h1>SWAPP</h1>
            <p>Join the <strong>SkillShare</strong> Community</p>
          </div>

          <%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name), :defaults => { :input_html => { :class => "form__input" } }) do |f| %>
                <div class="form__wrap-input">
                  <%= f.input :name,
                              required: true,
                              placeholder: "Name" %>
                              <span class="fas fa-user form__icon"></span>
                </div>
                <div class="form__wrap-input">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email" },
                              placeholder: "Email" %>
                              <span class="fas fa-envelope form__icon"></span>
                </div>
                <div class="form__wrap-input">
                  <%= f.input :password,
                              required: true,
                              input_html: { autocomplete: "current-password",
                              placeholder: "Password" } %>
                              <span class="fas fa-lock form__icon"></span>
                </div>
                <div class="form__wrap-input">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "current-password",
                              placeholder: "Confirm Password" } %>
                              <span class="fas fa-lock form__icon"></span>
                </div>

            <div class="form__links">
              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "button" %>
              </div>
            </div>
          <% end %>

          <span><p>Already have an account?</p></span>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>


