<div id="fullpage">
  <%= form_for @user do |f| %>
    <div class="section text-center">
      <div class="get-started__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="get-started__content">
                <label class="avatar avatar--gradient" for="user_profile_photo"><%= image_tag "default_profile.svg" %></label>
                  <div class="avatar__circle">
                    <label for="user_profile_photo">
                    <%= image_tag "profile_circle.svg" %>
                    </label>
                  </div>
                  <script>
                    function handleFiles(files) {
                      var circles = document.querySelectorAll('.avatar__circle');
                      var avatars = document.querySelectorAll('.avatar');
                      for (let i = 0; avatars.length > i; i++) {
                        circles[i].classList.add('active');
                        var img = document.createElement("img");
                        img.src = window.URL.createObjectURL(files[0]);
                        img.height = 200;
                        // img.setAttribute("style", "border-radius: 50%; object-fit: cover;")
                        avatars[i].innerHTML = "";
                        avatars[i].appendChild(img);
                      }
                    }
                  </script>
                  <%= f.file_field :profile_photo, class:'fuck-off', onchange: 'handleFiles(this.files)'%>
                  <%= f.hidden_field :profile_photo_cache %>
                <div class="get-started__one">
                  <h4>We'll need a photo</h4>
                  <p>Just a few more things to offer you the best user experience</p>
                </div>
                <button class="button">
                  <i class='fa fa-check'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="get-started__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="get-started__content">
                <div class="avatar avatar--lg avatar--gradient" for="user_profile_photo"><%= image_tag "default_profile.svg" %>
                </div>
                <div class="avatar__circle">
                  <%= image_tag "profile_circle.svg" %>
                </div>
                <div class="get-started__two">
                  <h4>What are your best skills?</h4>
                  <p>What will you want to share with other users?</p>
                </div>
                <div class="get-started__form"><%= f.awesomplete_field(:skills, collection: @skill_names.join(','), placeholder:"#{@skill_names.sample}, #{@skill_names.sample}, ...", required: true) %>
                </div>
                <button class="button">
                  <i class='fa fa-check'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="get-started__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="get-started__content">
                <div class="avatar avatar--lg avatar--gradient" for="user_profile_photo"><%= image_tag "default_profile.svg" %></div>
                <div class="avatar__circle">
                  <%= image_tag "profile_circle.svg" %>
                </div>
                <div class="get-started__two">
                    <h4>What are your interested in?</h4>
                    <p>Tell others what you are interested in learning</p>
                </div>
                <div class="get-started__form"><%= f.awesomplete_field(:tags, collection: @tag_names.join(','), placeholder:"#{@tag_names.sample}, #{@tag_names.sample}, ...", required: true)%>
                </div>
                <button class="button">
                  <i class='fa fa-check'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="get-started__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="get-started__content">
                <div class="avatar avatar--lg avatar--gradient" for="user_profile_photo"><%= image_tag "default_profile.svg" %></div>
                <div class="avatar__circle">
                  <%= image_tag "profile_circle.svg" %>
                </div>
                <div class="get-started__two">
                  <h4>Tell us about yourself</h4>
                  <p>Type a short description to let other users know a bit about you!</p>
                </div>
                <div class="get-started__form">
                  <div class="input-cont">
                    <%= f.text_field :description, placeholder: "Tell others about what you do..." %>
                  </div>
                </div>
                <button class="button">
                  <i class='fa fa-check'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="get-started__final-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="get-started__content">
                <div class="checkmark--parent">
                  <div class="checkmark--outer"> </div>
                  <div class="checkmark--middle"> </div>
                  <div class="checkmark--inner fas fa-check"> </div>
                </div>
                <div class="get-started__two">
                  <h4><strong>All done!</strong></h4>
                  <p>Tap on the button below to start exploring the SWAPP community</p>
                </div>
                <div class="info_form_button">
                  <%= f.submit "SWAPP", class:'button-submit' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
