<%= render 'shared/navbar' %>
<div class="rounded_banner"></div>

<div class="market">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="market__title">Users that <strong>match</strong> your interests</h2>
        <div class="search-bar">
          <%= form_tag users_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query], class: "search-bar__custom",
            placeholder: "tap to search a skill ( ex: guitar, tennis, ... )"%>
            <span class="fas fa-search search-bar__icon"></span>
          <% end %>
        </div>
        <% if @users.empty? %>
          <div class="market__not-found text-center">
          <br>
            <p>Sorry, no users with these skills found</p>
          </div>
        <% end %>
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="card">
              <%= image_tag(user.profile_photo_url, class: "card__profile-photo") %>
              <div class="card__info">
                <h3><strong><%= user.name.split.first.upcase%></strong> <%= user.name.split.second.upcase %></h3>
                <h5 class="card__ability"><span class="card__icon fas fa-star"></span>SKILLS</h5>
                <div class="bubble-box">
                  <% user.skills.each do |skill| %>
                    <div class="bubble">
                      <%= skill.name.titleize %>
                    </div>
                  <% end %>
                </div>
                <h5 class="card__ability"><span class="card__icon fas fa-tag"></span>INTERESTED IN</h5>
                <div class="bubble-box">
                  <% user.tags.limit(4).each do |tag| %>
                    <div class="bubble">
                      <%= tag.name.titleize %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
