<%= render 'shared/navbar' %>
<div class="profile-banner">
  <div class="profile-banner__background">
    <%= image_tag @user.profile_photo_url %>
  </div>
  <div class="profile-banner__container">
    <div class="container">
      <div class='row'>
        <div class='col-xs-12 col-md-12'>
          <div class='profile-banner__container__content'>
            <% unless @user.profile_photo_url.nil? %>
              <%= image_tag @user.profile_photo_url, class: 'avatar'  %></p>
            <% end %>
            <h2><%= @user.name.titleize %></h2>
            <p><%= @user.location %></p>
            <div class="tabs">
              <button id="info" class="btn-tabs active" >INFO</button>
              <button id="media" class="btn-tabs" >MEDIA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div id="info-content"class='show-content active '>
        <h3>ABOUT </h3>
        <p class="description" value="text"> <%= @user.description %>
        </p>
        <h3>SKILLS</h3>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name.titleize %></li>
          <% end %>

        </ul>
        <h3>INTERESTS</h3>
        <ul>
          <% @user.tags.each do |tag| %>
            <li><%= tag.name.titleize %></li>
          <% end %>

        </ul>
      </div>
      <div id="media-content" class="show-content">
        <h3><%= @user.name.upcase %> IN ACTION...</h3>
        <% @user.media.each do |medium| %>
          <%= image_tag medium.path_url, class: "media-display" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class='btn-container'>
  <button class='btn-profile'>CHAT WITH <%= @user.name.upcase %></button>
</div>
