<nav class ="global-nav navbar navbar-fixed-bottom">
  <div class="container">
    <div>
      <div class="global-nav__nav">
        <div class="global-nav__links">
          <% if current_page?(connections_path) %>
            <div class="global-nav__element purple">
              <%= link_to connections_path do %>
                <svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-56.000000, -26.000000)" fill="#496EE1">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="INbox">
                                                <path d="M24.2058106,6.79418937 L24.2058106,21.7941894 C24.2058106,22.3464741 23.7580954,22.7941894 23.2058106,22.7941894 L5.20581063,22.7941894 C4.65352588,22.7941894 4.20581063,22.3464741 4.20581063,21.7941894 L4.20581063,6.79418937 C4.20581063,6.24190462 4.65352588,5.79418937 5.20581063,5.79418937 L23.2058106,5.79418937 C23.7580954,5.79418937 24.2058106,6.24190462 24.2058106,6.79418937 Z M19.9156619,9.9132998 L14.4406706,13.8556354 L8.77446172,9.85381927 C8.32334308,9.53521226 7.69935717,9.64263416 7.38075016,10.0937528 C7.06214315,10.5448714 7.16956505,11.1688573 7.62068368,11.4874644 L13.8694003,15.9006824 C14.2179614,16.1468572 14.6843331,16.1447237 15.0306274,15.8953702 L21.0843381,11.5363204 C21.5325229,11.2135994 21.6342313,10.5886568 21.3115103,10.140472 C20.9887893,9.69228724 20.3638467,9.59057878 19.9156619,9.9132998 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end %>
            </div>
          <% else %>
            <div class="global-nav__element">
              <%= link_to connections_path do %>
                <svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-56.000000, -26.000000)" fill="#CACFD9">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="INbox">
                                                <path d="M24.2058106,6.79418937 L24.2058106,21.7941894 C24.2058106,22.3464741 23.7580954,22.7941894 23.2058106,22.7941894 L5.20581063,22.7941894 C4.65352588,22.7941894 4.20581063,22.3464741 4.20581063,21.7941894 L4.20581063,6.79418937 C4.20581063,6.24190462 4.65352588,5.79418937 5.20581063,5.79418937 L23.2058106,5.79418937 C23.7580954,5.79418937 24.2058106,6.24190462 24.2058106,6.79418937 Z M19.9156619,9.9132998 L14.4406706,13.8556354 L8.77446172,9.85381927 C8.32334308,9.53521226 7.69935717,9.64263416 7.38075016,10.0937528 C7.06214315,10.5448714 7.16956505,11.1688573 7.62068368,11.4874644 L13.8694003,15.9006824 C14.2179614,16.1468572 14.6843331,16.1447237 15.0306274,15.8953702 L21.0843381,11.5363204 C21.5325229,11.2135994 21.6342313,10.5886568 21.3115103,10.140472 C20.9887893,9.69228724 20.3638467,9.59057878 19.9156619,9.9132998 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end %>
            </div>
          <% end %>
          <% if current_page?(users_path) %>
            <div class="global-nav__element purple">
              <%= link_to users_path do %>
                <svg width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-151.000000, -24.000000)" fill="#496EE1">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="Home" transform="translate(94.000000, 0.000000)">
                                                <path d="M6.1233237,9.2203928 L14.0594815,4.09262592 C14.3932461,3.87697156 14.8230288,3.87939951 15.1543356,4.09881103 L22.8861313,9.21927651 C23.1657985,9.40448916 23.3339767,9.71758204 23.3339767,10.0530183 L23.3339767,23.515867 C23.3339767,24.0681518 22.8862615,24.515867 22.3339767,24.515867 L6.66602325,24.515867 C6.1137385,24.515867 5.66602325,24.0681518 5.66602325,23.515867 L5.66602325,10.0603197 C5.66602325,9.72087608 5.83821588,9.40460869 6.1233237,9.2203928 Z M14.5,13.8513358 C13.1192881,13.8513358 12,14.9706239 12,16.3513358 C12,17.7320476 13.1192881,18.8513358 14.5,18.8513358 C15.8807119,18.8513358 17,17.7320476 17,16.3513358 C17,14.9706239 15.8807119,13.8513358 14.5,13.8513358 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end %>
            </div>
          <% else %>
            <div class="global-nav__element ">
              <%= link_to users_path do %>
                <svg width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-151.000000, -24.000000)" fill="#CACFD9">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="Home" transform="translate(94.000000, 0.000000)">
                                                <path d="M6.1233237,9.2203928 L14.0594815,4.09262592 C14.3932461,3.87697156 14.8230288,3.87939951 15.1543356,4.09881103 L22.8861313,9.21927651 C23.1657985,9.40448916 23.3339767,9.71758204 23.3339767,10.0530183 L23.3339767,23.515867 C23.3339767,24.0681518 22.8862615,24.515867 22.3339767,24.515867 L6.66602325,24.515867 C6.1137385,24.515867 5.66602325,24.0681518 5.66602325,23.515867 L5.66602325,10.0603197 C5.66602325,9.72087608 5.83821588,9.40460869 6.1233237,9.2203928 Z M14.5,13.8513358 C13.1192881,13.8513358 12,14.9706239 12,16.3513358 C12,17.7320476 13.1192881,18.8513358 14.5,18.8513358 C15.8807119,18.8513358 17,17.7320476 17,16.3513358 C17,14.9706239 15.8807119,13.8513358 14.5,13.8513358 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end %>
            </div>
          <% end %>
          <% if current_page?(profile_path) %>
            <div class="global-nav__element purple">
              <%= link_to profile_path do %>
                <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-246.000000, -26.000000)" fill="#496EE1">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="Profile" transform="translate(188.000000, 0.000000)">
                                                <path d="M14.5,14 C12.0147186,14 10,11.9852814 10,9.5 C10,7.01471863 12.0147186,5 14.5,5 C16.9852814,5 19,7.01471863 19,9.5 C19,11.9852814 16.9852814,14 14.5,14 Z M22.4839787,22.7426407 L6.48658409,22.7426407 C7.36712497,18.075974 10.0333574,15.7426407 14.4852814,15.7426407 C18.9372054,15.7426407 21.6034378,18.075974 22.4839787,22.7426407 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end  %>
            </div>
          <% else %>
            <div class="global-nav__element">
              <%= link_to profile_path do %>
                <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Navbar" transform="translate(-246.000000, -26.000000)" fill="#CACFD9">
                            <g id="Group-3">
                                <g id="Tab-Icons" transform="translate(52.000000, 21.000000)">
                                    <g id="Group">
                                        <g id="Group-2">
                                            <g id="Profile" transform="translate(188.000000, 0.000000)">
                                                <path d="M14.5,14 C12.0147186,14 10,11.9852814 10,9.5 C10,7.01471863 12.0147186,5 14.5,5 C16.9852814,5 19,7.01471863 19,9.5 C19,11.9852814 16.9852814,14 14.5,14 Z M22.4839787,22.7426407 L6.48658409,22.7426407 C7.36712497,18.075974 10.0333574,15.7426407 14.4852814,15.7426407 C18.9372054,15.7426407 21.6034378,18.075974 22.4839787,22.7426407 Z" id="Combined-Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              <% end  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
