<%= render 'shared/navbar' %>
<div class="profile-banner">
  <div class="profile-banner__background">
    <%= image_tag @user.profile_photo_url %>
  </div>
  <div class="profile-banner__container">
    <div class="container">
      <div class='row'>
        <div class='col-xs-12 col-md-12'>
          <div class='profile-banner__container__content'>
            <% unless @user.profile_photo_url.nil? %>
              <%= image_tag @user.profile_photo_url, class: 'avatar'  %>
            <% end %>
            <h2><%= @user.name.titleize %></h2>
            <p><%= @user.location %></p>
            <div class="tabs">
              <button id="info" class="btn-tabs active" >INFO</button>
              <button id="media" class="btn-tabs" >MEDIA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div id="info-content"class='profile-content active'>
        <h3>ABOUT <button id="btn-update-about"><p><i class="fas fa-pencil-alt"></i></p></button></h3>
        <p class="description"> <%= @user.description %>
        </p>
        <div class="form-update">
          <%= minimal_form_for @user do |f| %>
            <%= f.input :description, input_html: { :style=> 'height: 200px;', :rows => 10} %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <h3>SKILLS <button class="btn-update-other"><p><i class="fas fa-pencil-alt"></i></p></button></h3>
        <div class="bubble-box">
          <% @user.skills.each do |skill| %>
            <div class="bubble">
              <%= skill.name.titleize %>
            </div>
          <% end %>
        </div>
        <div class="form-update">
          <%= minimal_form_for @user do |f| %>
            <%= f.input :skills, input_html: { value: "", placeholder: "What are you good at?"  } %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <h3>INTERESTS <button class="btn-update-other"><p><i class="fas fa-pencil-alt"></i></p></button></h3>
        <div class="bubble-box">
          <% @user.tags.each do |tag| %>
            <div class="bubble">
              <%= tag.name.titleize %>
            </div>
          <% end %>
        </div>
        <div class="form-update">
          <%= minimal_form_for @user do |f| %>
            <%= f.input :tags, input_html: { value: "", placeholder: "What do you like?" }  %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
      </div>
      <div id="media-content" class="profile-content">
        <h3><%= @user.name.upcase %> IN ACTION... <button class="btn-upload-image"><p><u>Upload Image</u></p></button></h3>
        <div class="form-update">
          <%= minimal_form_for @medium do |f| %>
            <%= f.input :path %>
            <%= f.input :path_cache, as: :hidden %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <% @user.media.each do |medium| %>
          <%= image_tag medium.path_url, class: "media-display" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



