<div class="profile-banner" style="background-image: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%), url(<%= @user.profile_photo %>);  ">
  <div class="container">
    <div class='row'>
      <div class='col-xs-12 col-md-12'>
        <div class='profile-banner__content'>
          <%= image_tag @user.profile_photo, class: 'profile-pic'  %></p>
          <h3><%= @user.name.capitalize %></h3>
          <p><%= @user.email %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='profile-content'>
        <h4>About <%= @user.name %></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h4>Skills</h4>
        <h4>Interests</h4>
      </div>
    </div>
  </div>
</div>
<div class='btn-container'>
  <button class='btn-profile'>Chat with <%= @user.name.capitalize %></button>
</div>

