<div class="profile-banner" style="background-image: linear-gradient(150deg, rgba(48, 35, 174, .85) 0%, rgba(200, 109, 115, .95) 100%), url(<%= @user.profile_photo %>);   ">
  <div class="container">
    <div class='row'>
      <div class='col-xs-12 col-md-12'>
        <div class='profile-banner__content'>
          <% unless @user.profile_photo.nil? %>
            <%= image_tag @user.profile_photo, class: 'avatar'  %></p>
          <% end %>
          <h2><%= @user.name.capitalize %></h2>
          <p><%= @user.location %></p>
          <div class="tabs">
            <button id="info" class="btn-tabs active" >INFO</button>
            <button id="media" class="btn-tabs" >MEDIA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div id="info-content"class='profile-content active'>
        <h3>ABOUT <button id="btn-update-about"><p><u>Update</u></p></button></h3>
        <p class="description"> <%= @user.description %>
        </p>
        <div class="form-update">
          <%= minimal_form_for @user do |f| %>
            <%= f.input :description, input_html: { :style=> 'height: 200px;', :rows => 10} %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <h3>SKILLS <button class="btn-update-other"><p><u>Update</u></p></button></h3>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name %></li>

          <% end %>
        </ul>
        <div class="form-update">
          <%= minimal_form_for @medium do |f| %>
            <%= f.input :skills, input_html: { value: "", placeholder: "What are you good at?"  } %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <h3>INTERESTS <button class="btn-update-other"><p><u>Update</u></p></button></h3>
        <ul>
          <% @user.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
        <div class="form-update">
          <%= minimal_form_for @user do |f| %>
            <%= f.input :tags, input_html: { value: "", placeholder: "What do you like?" }  %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
      </div>
      <div id="media-content" class="profile-content">
        <h3><%= @user.name.upcase %> IN ACTION... <button class="btn-upload-image"><p><u>Upload Image</u></p></button></h3>
        <div class="form-update">
          <%= minimal_form_for @medium do |f| %>
            <%= f.input :path %>
            <%= f.input :path_cache, as: :hidden %>
            <%= f.button :submit, 'Submit' %>
          <% end %>
        </div>
        <% @user.media.each do |medium| %>
          <%= image_tag medium.path_url, class: "media-display" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



